
  <body>
    <div class="center jumbotron">
      <h1>Welcome to Pseudo Instagram</h1>
      <p>This website is fan copy of popular social network Instagram. It's made for teaching and improving web development skills.</p>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  </body>
