<footer class="footer">
  <p>The site by Max Sobolev </p>
  <nav>
    <ul>
      <li><%= link_to "VK", '#'%></li>
      <li><%= link_to "Telegram", '#'%></li>
    <li><%= link_to "Github", '#'%></li>
    </ul>
  </nav>
</footer>